* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-btns {
  display: flex;
  flex-direction: row;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 400ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 400ms ease-in;
}

.page-wrapper {
  display: flex;
  margin-top: 30px;
}

.page {
  padding: 10px;
  border: 1px solid #ccc;
}

.page--current {
  border: 2px solid rgb(168, 80, 29);
  font-size: bold;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;

  align-items: center;
  padding: 0 15px;
  background-color: #eaeaea;
}

.navbar__link {
  margin-left: auto;
}
